#body{
    /* background-color:blanchedalmond; */
    border-radius: 50;
    width: 100%;
    overflow: hidden;
    /* background: radial-gradient(76.75% 76.75% at 70% 23.25%, #E7CE4A 0%, #E64467 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected *//* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-image: url("../src/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-heading{
    text-align: center;
    padding: 25px;
    font-size: 45px;
    font-weight: 700;
    color: black;
}

.container{
   color: black;
   height: 100vh;
   text-align: center;
   background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
   backdrop-filter: blur(21px);
   border-radius: 16px;
   border: 1px solid rgba(243, 243, 243, 0.432);
}

@media screen and (max-width:480px){
    .main-heading{
        font-size: 35px;
        line-height: 30px;
    }
 }

.container input{
    margin-top: 25px;
    margin-right: 10px;
    height: 45px;
    width: 60%;
    border-radius: 24px;
    text-align: center;
    background: none;
    border-color: rgba(8, 8, 8, 0.211);
    font-size: 18px;
}

.container input:focus{
    border-color:rgba(255, 255, 255, 0.178);
    outline: none;
   color: black;
}

.container button{
    border-radius: 24px;
    outline: none;
    border: none;
    background-color: aliceblue;
    background: radial-gradient(76.75% 76.75% at 70% 23.25%, #e7cd4ab5 0%, #e64467ac 100%) ;
    backdrop-filter: blur(24px);
    font-size: 18px;
}

.container button:hover{
    background-color: aliceblue;
    background: radial-gradient(76.75% 76.75% at 70% 23.25%, #e7cd4ab0 0%, rgba(230, 68, 103, 0.519)00%);
}
